<div class="flex flex-col pb-6">
    <%= f.label :first_name, class: "pb-1" %>
    <%= f.text_field :first_name, class: "py-1 rounded border-solid border-gray-300 border-1" %>
</div>

<div class="flex flex-col pb-6">
    <%= f.label :last_name, class: "pb-1" %>
    <%= f.text_field :last_name, class: "py-1 rounded border-solid border-gray-300 border-1" %>
</div>