<div class="flex min-h-screen bg-gray-100">
    <%= render MenuComponent.new %>
    <div class="w-full">
        <%= render ToolbarComponent.new(title: "Profile") %>
        <h1 class="min-h-screen flex justify-center items-center text-4xl text-gray-500">Coming soon!</h1>
    </div>
</div>