<div class="flex flex-col space-y-4">
  <% @tickets.each do |ticket| %>
    <% if current_user.id == ticket.client.id || current_user.admin? || current_user.agent? %>
      <div class="bg-white rounded p-4 border border-gray-200">
        <%= link_to "#{ticket.title.humanize}", ticket_path(ticket), class: "text-lg font-semibold text-sky-500 hover:text-sky-600" %>
        <div class="flex text-sm text-gray-600 mt-2">
          <h2 class="pr-1 font-medium">Client:</h2>
          <span><%= "#{ticket.client.full_name}" %></span>
          <h2 class="pr-1 pl-8 font-medium">Status:</h2>
          <span><%= ticket.status.humanize %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
