<div class="flex min-h-screen">
  <%= render MenuComponent.new %>
  <div class="w-full bg-gray-100">
    <%= render ToolbarComponent.new(title: "Tickets") %>
    <div class="px-16">
      <%= render partial: "form" %>
    </div>
  </div>
</div>

