<div class="flex min-h-screen">
  <%= render MenuComponent.new %>
  <div class="w-full bg-gray-100">
    <%= render ToolbarComponent.new(title: "Roles") %>
    <div class="w-3/5 m-auto px-6 rounded bg-white">
      <div>
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>