<div style="width: 100%; padding-top: 24px; padding-bottom: 24px; display: flex; justify-content: center; align-items: center; background-color: rgb(2 132 199);">
    <h1>HelpingDesk</h1>
</div>

<div style="width: 100%; padding-top: 32px; padding-bottom: 8px; display: flex; justify-content: center; align-items: center;">
    <p>Hello <%= @resource.email %>!</p>
</div>

<div style="width: 100%; padding-top: 8px; padding-bottom: 16px; display: flex; justify-content: center; align-items: center;">
    <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
</div>

<div style="width: 100%; padding-top: 8px; padding-bottom: 16px; display: flex; justify-content: center; align-items: center;">
    <p>Click the link below to unlock your account:</p>
</div>

<div style="width: 100%; padding-top: 8px; padding-bottom: 16px; display: flex; justify-content: center; align-items: center;">
    <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
</div>
